.tit{
    padding-top: 10px;
    font-style: italic;
    font-family: 'cursive';
    padding-bottom: 10px;
    font-size: 36px;
    color:crimson;
}
.my{
   padding-top: 15px;
   text-align: justify;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: large;
}
.our{
    padding-top: 10px;
    font-style: italic;
    padding-bottom: 10px;
    font-size: 26px;
    color:crimson;
    text-align: center;
}
.para{
    padding-top: 5px;
    text-align: justify;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large; 
}
.pp{
    padding-top: 5px;
    text-align: justify;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;  
}