.mag{
    width: 150px;
    height: 150px;
    justify-content: center;
    margin-left: 25%;
}
.ic{
    padding-top: 20px;
    width: 50%;
    height: 50%;
    justify-content: center;
    margin-left: 25%;  
}