.title{
    margin-left: 10px;
    padding-top: 30px;
    color: #fff;
    font-style:italic;
    font-family: 'cursive';
    
}
.Non{
      background-color:black;
      padding-bottom: 10px;
}
.veg{
    padding-top: 30px;
    padding-bottom: 20px;
    font-style:italic;
    font-family: 'cursive';
}
.vege{
    background-color: dimgray;
    padding-bottom: 10px;
}

.pasta{
    background-color: rgb(58, 21, 4);
    padding-bottom: 10px;
}
.tit{
    margin-left: 30%;
    padding-top: 30px;
    padding-bottom: 20px;
    font-style:italic;
    font-family: 'cursive';
    font-size: 28px;
    color:#fff
}
.pab{
    margin-left: 24%;
    padding-top: 30px;
    padding-bottom: 20px;
    font-style:italic;
    font-family: 'cursive';
    font-size: 28px;
    color:#fff
}
.noPiz{
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:lightseagreen
}